.table{
    background-color: rgb(189, 183, 183);
    border: 3px solid black;
    // margin-left: 10px;
    padding: 15px;
    overflow-x: auto;
    table{
        border-collapse: collapse;

    }
        width: 41%;
        height: 45vh;
        font-size: 0.8rem;
        font-family: sans-serif;
        color: whitesmoke;
        padding-bottom: 15px;
        margin-top: 15px;
    td{
       height: 3em;
       width: 6em;
        border: 1px solid black;
    }
}